body{font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
font-size: 50px;
}
.dc{
color: darkorchid;
}
section{
    display: flex;

}
.bc{
width: 50%;
padding-left: 5%;
}
.bc img{

    width: 80%;
}
.button{
text-decoration: none;
background-image: linear-gradient(blue, darkorchid);
padding: 10px 40px;
border-radius: 5px;
color: white;
font-weight: 700;
}
.banner{

    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}